openapi: 3.2.0
info:
  title: Velt Data (REST) Organizations API
  description: Server-side REST API for the Velt real-time collaboration platform.
  termsOfService: https://velt.dev/terms
  contact:
    name: Velt Support
    url: https://velt.dev
  version: '2.0'
servers:
- url: https://api.velt.dev/v2
  description: Velt Data API v2
security:
- apiKeyAuth: []
  authToken: []
tags:
- name: Organizations
  description: Top-level tenancy boundary.
paths:
  /organizations/add:
    post:
      operationId: addOrganizations
      tags:
      - Organizations
      summary: Add organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationAddRequest'
      responses:
        '200':
          description: Organizations added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /organizations/get:
    post:
      operationId: getOrganizations
      tags:
      - Organizations
      summary: Get organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationScopedRequest'
      responses:
        '200':
          description: Organizations returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /organizations/update:
    post:
      operationId: updateOrganizations
      tags:
      - Organizations
      summary: Update organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationAddRequest'
      responses:
        '200':
          description: Organizations updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /organizations/delete:
    post:
      operationId: deleteOrganizations
      tags:
      - Organizations
      summary: Delete organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationScopedRequest'
      responses:
        '200':
          description: Organizations deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
components:
  schemas:
    Result:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        data:
          type: array
          items:
            type: object
    OrganizationScopedRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - organizationId
          properties:
            organizationId:
              type: string
              description: Organization identifier.
    OrganizationAddRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - organizations
          properties:
            organizations:
              type: array
              items:
                type: object
                properties:
                  organizationId:
                    type: string
                  name:
                    type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-velt-api-key
      description: Your Velt API key.
    authToken:
      type: apiKey
      in: header
      name: x-velt-auth-token
      description: Your Velt auth token that authorizes the API key.
