openapi: 3.2.0
info:
  title: Velt Data (REST) Auth API
  description: Server-side REST API for the Velt real-time collaboration platform.
  termsOfService: https://velt.dev/terms
  contact:
    name: Velt Support
    url: https://velt.dev
  version: '2.0'
servers:
- url: https://api.velt.dev/v2
  description: Velt Data API v2
security:
- apiKeyAuth: []
  authToken: []
tags:
- name: Auth
  description: Workspace API keys and auth tokens.
paths:
  /workspace/apikey/create:
    post:
      operationId: createApiKey
      tags:
      - Auth
      summary: Create API key
      description: Provision a new API key and its auth token for the workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /workspace/apikey/get:
    post:
      operationId: getApiKeys
      tags:
      - Auth
      summary: Get API keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: API keys returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /workspace/apikey/auth-token/reset:
    post:
      operationId: resetAuthToken
      tags:
      - Auth
      summary: Reset auth token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: Auth token reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
components:
  schemas:
    Result:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        data:
          type: array
          items:
            type: object
    DataEnvelope:
      type: object
      required:
      - data
      description: All Velt Data API requests wrap their payload in a top-level `data` object.
      properties:
        data:
          type: object
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-velt-api-key
      description: Your Velt API key.
    authToken:
      type: apiKey
      in: header
      name: x-velt-auth-token
      description: Your Velt auth token that authorizes the API key.
