openapi: 3.2.0
info:
  title: Velt Data (REST) Documents API
  description: Server-side REST API for the Velt real-time collaboration platform.
  termsOfService: https://velt.dev/terms
  contact:
    name: Velt Support
    url: https://velt.dev
  version: '2.0'
servers:
- url: https://api.velt.dev/v2
  description: Velt Data API v2
security:
- apiKeyAuth: []
  authToken: []
tags:
- name: Documents
  description: Documents and folders that collaboration attaches to.
paths:
  /folders/add:
    post:
      operationId: addFolder
      tags:
      - Documents
      summary: Add folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationScopedRequest'
      responses:
        '200':
          description: Folder added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /folders/get:
    post:
      operationId: getFolders
      tags:
      - Documents
      summary: Get folders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationScopedRequest'
      responses:
        '200':
          description: Folders returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /documents/add:
    post:
      operationId: addDocuments
      tags:
      - Documents
      summary: Add documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAddRequest'
      responses:
        '200':
          description: Documents added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /documents/get:
    post:
      operationId: getDocuments
      tags:
      - Documents
      summary: Get documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentScopedRequest'
      responses:
        '200':
          description: Documents returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /documents/update:
    post:
      operationId: updateDocuments
      tags:
      - Documents
      summary: Update documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAddRequest'
      responses:
        '200':
          description: Documents updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /documents/move:
    post:
      operationId: moveDocuments
      tags:
      - Documents
      summary: Move documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentScopedRequest'
      responses:
        '200':
          description: Documents moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
  /documents/delete:
    post:
      operationId: deleteDocuments
      tags:
      - Documents
      summary: Delete documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentScopedRequest'
      responses:
        '200':
          description: Documents deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
components:
  schemas:
    DocumentAddRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - organizationId
          - documents
          properties:
            organizationId:
              type: string
            documents:
              type: array
              items:
                type: object
                properties:
                  documentId:
                    type: string
                  documentName:
                    type: string
                  folderId:
                    type: string
    DocumentScopedRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - organizationId
          properties:
            organizationId:
              type: string
            documentId:
              type: string
              description: Single document identifier.
            documentIds:
              type: array
              items:
                type: string
              description: Up to 30 document identifiers.
    Result:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        data:
          type: array
          items:
            type: object
    OrganizationScopedRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - organizationId
          properties:
            organizationId:
              type: string
              description: Organization identifier.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-velt-api-key
      description: Your Velt API key.
    authToken:
      type: apiKey
      in: header
      name: x-velt-auth-token
      description: Your Velt auth token that authorizes the API key.
